/* 0205d3 */


.App {
  background-color: #0205d3; /* Blue background */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  color: white;
}

.logo-circle {
  background-color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; /* Ensures the circle stays in the center */
}

.logo-text {
  color: #0000FF; /* Blue color for the text */
  font-size: 30px;
  font-weight: bold;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  background-color: white;
  color: #0000FF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.button:hover {
  background-color: black;
  color: white;
}


.qr-code img {
  width: 70px;
  height: 70px;
}


/* 
git init

git status

git branch

git add App.js

git diff

git add .

git commit -m "initial code added"

git log



*/
